<template>
    <div>
        <vida-navbar active="colors" />
        <section class="hero is-primary">
            <div>
                <h1 class="title capitalize">{{ $t('CHANGELOG.LABEL') }}</h1>
                <p class="subtitle">{{ $t('CHANGELOG.PAGE_DESCRIPTION') }}</p>
            </div>
        </section>

        <section>
            <div class="card" style="max-width: 700px">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <img src="/changelog/0_9_1.png" alt="Release 0.9.1" />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Colored background on text elements</p>
                            <b-taglist>
                                <b-tag type="is-info">0.9.1</b-tag>
                                <b-tag type="is-success">Feature</b-tag>
                            </b-taglist>
                            <p>
                                It is now possible to specify a background color behind your text.
                                <br />
                                <time datetime="2021-07-08">2021-07-08</time>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import VidaNavbar from '@navbar';

export default {
    name: 'Changelog',
    metaInfo: function () {
        return {
            title: `${this.$t('NAVBAR.COLORS')} - ${this.$localConfig.id}`,
            titleTemplate: '%s | Aktivisda.earth',
            meta: [
                { vmid: 'description', name: 'description', content: `${this.$t('CHANGELOG.PAGE_DESCRIPTION')}` },
                { property: 'og:title', vmid: 'og:title', content: `${this.$t('CHANGELOG.LABEL')} | ${this.$localConfig.id}.aktivisda` },
                { property: 'og:type', vmid: 'og:type', content: 'website' },
                { property: 'og:url', vmid: 'og:url', content: this.$localConfig.url },
                { property: 'og:description', vmid: 'og:description', content: `${this.$t('CHANGELOG.PAGE_DESCRIPTION')}` },
            ],
        };
    },
    data: () => ({}),
    components: { VidaNavbar },
    computed: {},
};
</script>

<style scoped lang="scss"></style>
