<script setup>
import { useStore } from '@datastore';
const store = useStore();

store.fetchTags();
</script>

<template>
    <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title capitalize">Sélectionne ton tag</p>
            <button class="delete" aria-label="close" @click="$emit('close')" />
        </header>

        <section class="modal-card-body" style="min-height: 400px">
            <b-dropdown>
                <template #trigger>
                    <b-button icon-left="menu-down">Ajouter une nouvelle langue</b-button>
                </template>
                <b-dropdown-item
                    v-for="(lang, key) in langs"
                    :key="key"
                    :disabled="translations[lang.code] !== undefined"
                    @click="translations[lang.code] = ''">
                    {{ lang.text }}
                </b-dropdown-item>
            </b-dropdown>

            <b-field v-for="code in Object.keys(translations).filter((lang) => translations[lang] !== undefined)" :key="code" :label="code">
                <b-input v-model="translations[code]" placeholder="Titre"></b-input>
                <b-button icon-left="close" @click="translations[code] = undefined" />
            </b-field>

            <b-field label="Identifiant du tag (plutôt en anglais, en minuscules, sans espace)">
                <b-input v-model="tag" placeholder=""></b-input>
            </b-field>

            <b-button
                type="is-primary"
                @click="
                    store.updateOrCreateTag(tag, translations);
                    $emit('close');
                "
                >Ajouter ce tag</b-button
            >
        </section>
    </div>
</template>

<script>
import { langs } from '@/plugins/i18n';

export default {
    name: 'modal-tags',
    props: {},
    computed: {},
    data() {
        return {
            langs,
            tag: '',
            translations: Object.assign({}, ...langs.map((lang) => ({ [lang.code]: undefined }))),
        };
    },
};
</script>

<style scoped></style>
