// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: <%= PRIMARY_COLOR %>;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: <%= PRIMARY_COLOR %>;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

:root {
    $title-font: '<%= MAIN_FONT %>', sans-serif !important;
    .title {
        font-family: $title-font;
    }
    --primary-color: <%= PRIMARY_COLOR %>;
    --secondary-color: <%= SECONDARY_COLOR %>;
    --primary-text-color: white;
    --secondary-text-color: black;
}

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        'red': (
            $red,
            $white,
        ),
        'blue': (
            $blue,
            $white,
        ),
        'green': (
            $green,
            $white,
        ),
        'white': (
            $white,
            $black,
        ),
        'black': (
            $black,
            $white,
        ),
        'light': (
            $light,
            $light-invert,
        ),
        'dark': (
            $dark,
            $dark-invert,
        ),
        'primary': (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        'link': (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        'info': (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        'success': (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        'warning': (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        'danger': (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
